<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAOyCPF7cwQUaFXK4CaqBeC0Jp_vJseY4</string>
	<key>GCM_SENDER_ID</key>
	<string>315063167123</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aldiyar.AndOne</string>
	<key>PROJECT_ID</key>
	<string>andone-17f8d</string>
	<key>STORAGE_BUCKET</key>
	<string>andone-17f8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315063167123:ios:f164042a157a73d4d84566</string>
</dict>
</plist>